In [1]:
import pandas as pd

In [2]:
date_list = pd.date_range(start='1/1/2018', end = '1/1/2019', freq='d')
df = pd.DataFrame(dict(date=date_list))
print(df)

          date
0   2018-01-01
1   2018-01-02
2   2018-01-03
3   2018-01-04
4   2018-01-05
5   2018-01-06
6   2018-01-07
7   2018-01-08
8   2018-01-09
9   2018-01-10
10  2018-01-11
11  2018-01-12
12  2018-01-13
13  2018-01-14
14  2018-01-15
15  2018-01-16
16  2018-01-17
17  2018-01-18
18  2018-01-19
19  2018-01-20
20  2018-01-21
21  2018-01-22
22  2018-01-23
23  2018-01-24
24  2018-01-25
25  2018-01-26
26  2018-01-27
27  2018-01-28
28  2018-01-29
29  2018-01-30
..         ...
336 2018-12-03
337 2018-12-04
338 2018-12-05
339 2018-12-06
340 2018-12-07
341 2018-12-08
342 2018-12-09
343 2018-12-10
344 2018-12-11
345 2018-12-12
346 2018-12-13
347 2018-12-14
348 2018-12-15
349 2018-12-16
350 2018-12-17
351 2018-12-18
352 2018-12-19
353 2018-12-20
354 2018-12-21
355 2018-12-22
356 2018-12-23
357 2018-12-24
358 2018-12-25
359 2018-12-26
360 2018-12-27
361 2018-12-28
362 2018-12-29
363 2018-12-30
364 2018-12-31
365 2019-01-01

[366 rows x 1 columns]

In [ ]:
#winter 1st June to 31 August
#Autum 1st March to 31 May
#Summer 1st December to 28 Feb
#Spring 1st September to 30th November

In [3]:
df['Week Number'] = df['date'].dt.week

In [4]:
df['Finacial Year'] = df['date'].dt.year

In [5]:
df['Date'] = df['date'].dt.day

In [6]:
df['month'] = df['date'].dt.month

In [7]:
df['Day'] = df['date'].dt.weekday_name

In [8]:
df['Month Name'] = df['date'].dt.month_name()

In [9]:
#df['DateID'] = df['date'].dt.month_name()

In [31]:
#winter 1st June to 31 August
#Autum 1st March to 31 May
#Summer 1st December to 28 Feb
#Spring 1st September to 30th November

df.loc[(df['Month Name'] == "December") |(df['Month Name'] == "January") | (df['Month Name'] == "February"),'season']='Summer'
df.loc[(df['Month Name'] == "March") |(df['Month Name'] == "April") | (df['Month Name'] == "May"),'season']='Autum'
df.loc[(df['Month Name'] == "June") |(df['Month Name'] == "July") | (df['Month Name'] == "August"),'season']='Winter'
df.loc[(df['Month Name'] == "September") |(df['Month Name'] == "October") | (df['Month Name'] == "November"),'season']='Spring'

In [44]:
#weekend flag
df.loc[(df['Day'] == "Saturday") |(df['Day'] == "Sunday"),'Weekend Flag']= True

In [69]:
#AESDT Falg
df.loc[(df['Month Name']=="October") & (df['Day']=="Sunday")].min()['Date']

#find index
index_list = (df.loc[(df['Month Name']=="October") & (df['Day']=="Sunday")].min()['Date']).index.tolist()
index_list

AttributeError: 'int' object has no attribute 'index'

In [63]:
#group by
df_group = df.groupby(['Finacial Year'])
df_group

In [67]:
for group in df_group:
    print(group[0])

2018
2019

In [45]:
df

,date,Week Number,Finacial Year,Date,month,Day,Month Name,season,Weekend Flag
0,2018-01-01,1,2018,1,1,Monday,January,Summer,NaN
1,2018-01-02,1,2018,2,1,Tuesday,January,Summer,NaN
2,2018-01-03,1,2018,3,1,Wednesday,January,Summer,NaN
3,2018-01-04,1,2018,4,1,Thursday,January,Summer,NaN
4,2018-01-05,1,2018,5,1,Friday,January,Summer,NaN
5,2018-01-06,1,2018,6,1,Saturday,January,Summer,True
6,2018-01-07,1,2018,7,1,Sunday,January,Summer,True
7,2018-01-08,2,2018,8,1,Monday,January,Summer,NaN
8,2018-01-09,2,2018,9,1,Tuesday,January,Summer,NaN
9,2018-01-10,2,2018,10,1,Wednesday,January,Summer,NaN
10,2018-01-11,2,2018,11,1,Thursday,January,Summer,NaN
11,2018-01-12,2,2018,12,1,Friday,January,Summer,NaN
12,2018-01-13,2,2018,13,1,Saturday,January,Summer,True
13,2018-01-14,2,2018,14,1,Sunday,January,Summer,True
14,2018-01-15,3,2018,15,1,Monday,January,Summer,NaN
15,2018-01-16,3,2018,16,1,Tuesday,January,Summer,NaN
16,2018-01-17,3,2018,17,1,Wednesday,January,Summer,NaN
17,2018-01-18,3,2018,18,1,Thursday,January,Summer,NaN
18,2018-01-19,3,2018,19,1,Friday,January,Summer,NaN
19,2018-01-20,3,2018,20,1,Saturday,January,Summer,True
20,2018-01-21,3,2018,21,1,Sunday,January,Summer,True
21,2018-01-22,4,2018,22,1,Monday,January,Summer,NaN
22,2018-01-23,4,2018,23,1,Tuesday,January,Summer,NaN
23,2018-01-24,4,2018,24,1,Wednesday,January,Summer,NaN
24,2018-01-25,4,2018,25,1,Thursday,January,Summer,NaN
25,2018-01-26,4,2018,26,1,Friday,January,Summer,NaN
26,2018-01-27,4,2018,27,1,Saturday,January,Summer,True
27,2018-01-28,4,2018,28,1,Sunday,January,Summer,True
28,2018-01-29,5,2018,29,1,Monday,January,Summer,NaN
29,2018-01-30,5,2018,30,1,Tuesday,January,Summer,NaN
...,...,...,...,...,...,...,...,...,...
336,2018-12-03,49,2018,3,12,Monday,December,Summer,NaN
337,2018-12-04,49,2018,4,12,Tuesday,December,Summer,NaN
338,2018-12-05,49,2018,5,12,Wednesday,December,Summer,NaN
339,2018-12-06,49,2018,6,12,Thursday,December,Summer,NaN
340,2018-12-07,49,2018,7,12,Friday,December,Summer,NaN
341,2018-12-08,49,2018,8,12,Saturday,December,Summer,True
342,2018-12-09,49,2018,9,12,Sunday,December,Summer,True
343,2018-12-10,50,2018,10,12,Monday,December,Summer,NaN
344,2018-12-11,50,2018,11,12,Tuesday,December,Summer,NaN
345,2018-12-12,50,2018,12,12,Wednesday,December,Summer,NaN
346,2018-12-13,50,2018,13,12,Thursday,December,Summer,NaN
347,2018-12-14,50,2018,14,12,Friday,December,Summer,NaN
348,2018-12-15,50,2018,15,12,Saturday,December,Summer,True
349,2018-12-16,50,2018,16,12,Sunday,December,Summer,True
350,2018-12-17,51,2018,17,12,Monday,December,Summer,NaN
351,2018-12-18,51,2018,18,12,Tuesday,December,Summer,NaN
352,2018-12-19,51,2018,19,12,Wednesday,December,Summer,NaN
353,2018-12-20,51,2018,20,12,Thursday,December,Summer,NaN
354,2018-12-21,51,2018,21,12,Friday,December,Summer,NaN
355,2018-12-22,51,2018,22,12,Saturday,December,Summer,True
356,2018-12-23,51,2018,23,12,Sunday,December,Summer,True
357,2018-12-24,52,2018,24,12,Monday,December,Summer,NaN
358,2018-12-25,52,2018,25,12,Tuesday,December,Summer,NaN
359,2018-12-26,52,2018,26,12,Wednesday,December,Summer,NaN
360,2018-12-27,52,2018,27,12,Thursday,December,Summer,NaN
361,2018-12-28,52,2018,28,12,Friday,December,Summer,NaN
362,2018-12-29,52,2018,29,12,Saturday,December,Summer,True
363,2018-12-30,52,2018,30,12,Sunday,December,Summer,True
364,2018-12-31,1,2018,31,12,Monday,December,Summer,NaN
365,2019-01-01,1,2019,1,1,Tuesday,January,Summer,NaN